.container_cardmovie {
    margin: 3.46vh 1vh;
    width: 21.697vw;
    background: #282828;
    border-radius: 1.198vw;
    /* overflow: hidden; */
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
}

.container_cardmovie:hover {
    transform: scale(1.08);
    box-shadow: 1px 1px 10px #dddddd;
}

.movie_poster {
    width: 100%;
    height: 24.525vw;
    border-top-left-radius: 1.198vw;
    border-top-right-radius: 1.198vw;
    background-size: cover;
}

.container__header .title {
    text-align: center;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    padding-top: 1.048vw;
    width: 16.272vw;
    margin: auto;
    text-decoration: none;
}

.short_movie_description {
    color: #ffffff;
    font-family: 'Ruda', sans-serif;
    font-size: 0.81vw;
    margin: 5px 20px 0px;
    padding-bottom: 1.048vw;
}