.container__movie {
    margin: 0;
    width: 100vw;
    background-size: cover;
}

.footer__movie {
    display: flex;
    width: 100vw;
    height: 20vh;
    background: #0C0032;
    justify-content: space-around;
    align-items: center;
    line-height: 7vh;
    text-align: center;
}

.header__movie {
    display: flex;
    width: 85vw;
    height: 80vh;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.description__movie {
    display: flex;
    width: 40vw;
    height: auto;
    padding-left: 30px;
    padding-right: 10px;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(2, 0, 36, 0.399);
}

.affiche__movie,
.affiche__movie img {
    width: 20vw;
    height: 58vh;
    margin-right: 0;
    background: #ffffff;
}

/* *{
    background: #3915a1;                    
} */

.title__movie {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.summary {
    font-family: 'Ruda', sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
}

.title__movie,
.genre,
.summary,
.duration {
    color: #ffffff
}

.duration{
    font-family: 'Ruda', sans-serif;
}

.budget,
.note,
.note_utilisateur {
    font-size: 1.27rem;
    color: #ffffff;
}

.budget{
    font-family: 'Ruda', sans-serif;
}

.page__officiel {
    transition: 0.2s;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    border: solid 10px #3500D3;
    background: none;
    width: 7.5em;
    height: 2.5em;
    line-height: 2.5em;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    border-radius: 5em;
    font-family: 'Ruda', sans-serif;
}

.page__officiel:hover {
    border: solid 10px #4000FF;
    transition: 0.2s;
}

.note_utilisateur {
    font-family: 'Ruda', sans-serif;
    
}

.return-button {
    width: 50px;
    height: 50px;
    background: #0C0032;
    position: absolute;
    top: 1.8vw;
    left: 2.2vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.return-button svg {
    transform: rotate(180deg);
}

.return-button:hover {
    transform: scale(1.1)
}

.section__movie {
    width: 22vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.6em;
}

.star {
    background-color: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
}
  
.note{
    margin-top: -0.1em;
    margin-left: 0.7em;
    display: flex;
  }