@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ruda&display=swap');

body {
  margin: 0;
  background-color: #0C0032;
}

input {
  outline: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}